@implements IDisposable
@inject SampleBlazorLib.Interfaces.ICache Cache

<section>
	<h1>Hello World</h1>
	<p>This is a hello world example.</p>
	<div>
	@if (ToggleA)
	{
		<Hello />
	}
	else
	{
		<World />
	}
	</div>
</section>

@code {
	[Parameter]
	public bool ToggleA { get; set; }
	[Parameter]
	public Action? OnDispose { get; set; }

	protected override void OnInitialized()
	{
		ToggleA = Cache.ToggleA;
		base.OnInitialized();
	}

	public void Dispose()
	{
		OnDispose?.Invoke();
	}
}