
<section>
	<h1>Hello World</h1>
	<p>This is a hello world example.</p>
	<div>
	@if (ToggleA)
	{
		<Hello />
	}
	else
	{
		<World />
	}
	</div>
</section>

@code {
	[Parameter]
	public bool ToggleA { get; set; }
}